<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	      xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
   <acl>
     <resources>
        <resource id="Magento_Backend::admin">
           <resource id="Embitel_Uimodule::menu" title="Uimodule" translate="titlemodule" sortOrder="100" >
              <resource id="Embitel_Uimodule::uimodule" title="Save Uimodule" translate="title" sortOrder="100" ></resource>
           </resource>
        </resource>
     </resources>
   </acl>
</config>

